header {
  display: flex;
  height: 400px;
  font-size: 18px;
  margin: 0;
  margin-top:120px;
  color: white;
  font-family: Source Sans Pro;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cc9200;
  background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
}

.surname{
  font-weight: 300;
  font-family: Source Sans Pro;
}