  header {
    display: flex;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
    height: 400px;
    font-size: 18px;
    color: white;
    font-family: Source Sans Pro;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cc9200;
  }

  .surname{
    font-weight: 300;
    font-family: Source Sans Pro;
  }

  .your-full-name{
    margin-top: 0px
  }


/* do this when screen is small (what you previously had) */
@media only screen and (max-width: 1024px) {
  header {
    background-color: #cc9200;

    /* this keeps header fixed to the top when the screen is smaller */
    position: fixed;
    top: 0;
    width: 100%;
    z-index : 1;
  }

  .your-picture {
    width: 80%;
    margin-top: 30px;
    margin-left: 23px;
  }

  .orientation {
    padding-top: 400px;
  }
}

/* do this when screen size is big (the yellow is on the side) */
@media only screen and (min-width: 1025px){

  header {
    width: 550px;
    margin-left:70px;
    margin-right:70px;
    flex-direction: column;
  }
  
  .your-picture {
    width: 100%;
    margin-top: 30px;
  }

  .orientation {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 50px 40px 0px;
  }
} 

