
nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  font-size: 40px;
  margin: 0;
  color: #FFFFFF;
  display: flex;
  background-color: #4056A1;
  z-index : 1;
}

.tweeter {
  font-family: bungee;
  padding-left: 1.5em;
  padding-top: 0.5em;
}

.right-part-of-nav {
  font-size: 20px;
  font-family: Source Sans Pro;
  margin-left: auto;
  align-items: center;
  padding-right: 1.5em;
}

/* .write {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  font-family: Source Sans Pro;
  margin-left: auto;
  align-items: center;
  padding-right: 0.30em;
} */

.fa-angle-double-down:before {
  color: red;
  font-size: 20px;
  padding-left: 3.3em;
}

/* navbar stuff */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}