
nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  font-size: 40px;
  margin: 0;
  color: #FFFFFF;
  background-color: #4056A1;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
}

.tweeter {
  font-family: bungee;
  padding-left: 1.5em;
  padding-top: 0.5em;
}

.right-part-of-nav {
  font-size: 20px;
  font-family: Source Sans Pro;
  margin-left: auto;
  align-items: center;
  padding-right: 1.5em;
  display: inline-block;
}

.write {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  font-family: Source Sans Pro;
  margin-left: auto;
  align-items: center;
  padding-right: 0.15em;
  display: inline-block;
}

.fa-angle-double-down:before {
  color: red;
  font-size: 20px;
  padding-left: 3.3em;
}

/* do this when screen is small (what you previously had) */
@media only screen and (max-width: 1024px) {

  nav {
    background-color: transparent;
    z-index : 2;
  }
}

/* do this when screen size is big (the yellow is on the side) */
@media only screen and (min-width: 1025px){

.orientation {
  display: flex;
  width: 100%;
  margin-top: 100px;
  }
} 
