nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  font-size: 40px;
  margin: 0;
  color: #FFFFFF;
  background-color: #4056A1;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.5em;
}

.tweeter {
  font-family: bungee;
  padding-top: 0.5em;
}

.right-part-of-nav {
  color: white;
  font-size: 20px;
  font-family: Source Sans Pro;
  margin-left: auto;
  align-items: center;
  display: inline-block;
  border: none;
  background-color: transparent;
}

.right-part-of-nav:focus {
  border: none;
  outline: none;
}

.write {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  font-family: Source Sans Pro;
  margin-left: auto;
  align-items: center;
  padding-right: 0.15em;
  display: inline-block;
}

.fa-angle-double-down:before {
  color: red;
  font-size: 20px;
}

/* show this layout when the screen is less than or equal to 1024px in width */
@media only screen and (max-width: 1024px) {

  nav {
    background-color: transparent;
    z-index : 2;
  }
}

/* show this layout when the screen is equal to or greater than 1025px in width */
@media only screen and (min-width: 1025px){

.orientation {
  display: flex;
  width: 100%;
  margin-top: 100px;
  }
} 
